
*{
   font-family: Poppins;
   text-align: center;
   margin: 0;
   padding: 0;
   
}


div.banner{
    background-color: rgb(32, 31, 31);
    height: 90px;
    display: flex;
    text-align: left;
   
    padding-left: 10px;
    min-width: 50%
   
}

.banner h1{
    position:static;
   
    
    transform: translate(-50% -50%);
    color: rgb(55, 197, 244);
  
    padding-top: 10px;
    padding-left: 10px
    
}

.menu{
    
    text-align: center;
    display: flex;
    color: white;
    margin-left: auto;
    padding: 25px;
   
    /* font-weight: bold; */
   
}
.menu ul{
    padding: 5px 10px;
    transition: transform 0.3s ease;
    transform-origin: center;
    min-width: 50px;
    max-width: 100%;
    
    
}

.menu ul:hover{
    transform: scale(1.1);
    /* background-color: rgb(77, 75, 75); */
   
}
/*  */

.container{
    position: relative;
    display: inline-flex;
    width: 800px;
    float: left;
    padding: 30px;
    margin-right: 50px;
    
    
}
.content {
    display: inline-block;
    /* background-color: white; */
    position: relative;
    margin:15px;
    padding: 20px 15px 10px 22px;
    box-sizing: border-box;
    width: 550px;
    height: 300px;
    text-align: left;
    border-style:groove;
    transition: transform .1s linear;
}
.content:hover{
    transform: scale(110%);
}

#thumbnails{
    position: relative;
    max-width: 100%;
    height: 80%;
    top: 35%;
    left: 49%;
    transform: translate(-50%,-50%) 
}


.content p {
    position: absolute;
    text-align: center;
    top: 88%;
    left: 50%;
    transform: translate(-50%,-50%) 
}

.popup{
    position: absolute;
    display: none;
    height: 500px;
    width: 100%;
    background-color: white;
    
}

#popup1{
    flex-direction: row;
    display: none;
    z-index: 200;
}
#fullimg{
    position: static;
    padding: 40px 20px;
    float: left;
    width: 60%;
    height: 80%;
}
#overlay{
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(171, 171, 171);
    opacity: 0.6;
    z-index: 200;
}

#closepopup{
    position: absolute;
    display: none;
    top: 21%;
    right: 10%;
    z-index: 300;
    font-size: 40px;    
}


ul{
    list-style-type: none;
}
.description{
    flex-direction: column;
    display: flex;
    padding: 15px 10px;
    float: left;
    text-align: left;
}
a{
    text-decoration: none;
}

a:visited{
    color: white;
}

.intro{
    overflow: scroll;
    width: 100%;
    height: 400px;
    background: url("Paintings/banner.png");
    background-size: cover;
    position: relative;
}
.introtext h1{
    font-size: 90px;
    overflow: scroll;
    
}
.introtext{
    
    color: white;
    font-size: 30px;
    left:50%;
    transform: translate(-50%);
    position: absolute;
    min-width: 50px;
}

.introtext p {
    overflow: scroll;
}
#bgimg{
    width: 100%;
    height: 400px;
}
/* THIS IS USIN THE PHOTO GALLERY METHOD (BORING AND UGLY)
.gallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 450px
    
}
*/



/* TO FIX GAP ISSUE, VERTICAL FILE'S BACKGROUND SHOULD BE REDUCED IN PHOTOSHOP */

/* .gallery h1{
    border-bottom: 1px solid ;
    
    text-align: center;
    width: 50%;
    transform: translate(50%);
    justify-content: center;
} */

.gallery{
    overflow: hidden;
 
}


.toobig{
    height: 100%;
    width: 100%
   
}

@media screen and (min-width: 320px){

    .item-tall{
        grid-row: span 2 /auto;
    }
    
    .item-wide{
        grid-column: span 2 / auto;
    }
    }

.gallerygrid{
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "a a c"
    "b b c"
    "d d f"
    "e e f";
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: auto;
    justify-content: center;
    

}
/* @media screen and (max-width: 720px){
    .gallerygrid{
        display: grid;
        grid-template-columns: repeat(auto-fit minmax(20px, 1fr));
        grid-template-rows: auto;
    }
} */

#galleryimg:nth-child(1){
    grid-area: a
}
#galleryimg:nth-child(2){
    grid-area: b
}
#galleryimg:nth-child(3){
    grid-area: c
}
#galleryimg:nth-child(4){
    grid-area: d
}
#galleryimg:nth-child(5){
    grid-area: e
}
#galleryimg:nth-child(6){
    grid-area: f
}
